@if (User) {
<div
  class="w-full bg-gradient-to-b from-blue-300 h-48 p-4 grid grid-cols-4 gap-24"
>
  @for (playlists of PlayLists; track playlists) {
  <div>
    <button
      class="hover:bg-gray-400 border w-[23pc] rounded-lg mx-5 p-1"
      [title]="playlists.Description"
      [routerLink]="'/favSong/' + playlists.id"
    >
      <div class="flex items-center gap-5">
        <div>
          <img
            src="{{ playlists.Image }}"
            alt="#"
            class="text-white w-12 rounded-lg"
          />
        </div>
        <div class="text-white">
          <h1>{{ playlists.Name }}</h1>
          <h1>{{ User.userName }}</h1>
        </div>
      </div>
    </button>
  </div>
  }
</div>
}
<div>
  <app-popular-artist />
  <app-popular-artist />
</div>
