<div class="grid grid-cols-4 max-sm:grid-cols-1 my-10">
  <div class="text-white">
    <h1 class="font-bold text-xl">Company</h1>
    <div class="flex flex-col">
      <a href="" class="hover:underline">About</a>
      <a href="" class="hover:underline">Jobs</a>
      <a href="" class="hover:underline">For the Record</a>
    </div>
  </div>
  <div class="text-white max-sm:my-5">
    <h1 class="font-bold text-xl">Communities</h1>
    <div class="flex flex-col">
      <a href="" class="hover:underline">For Artists</a>
      <a href="" class="hover:underline">Developers</a>
      <a href="" class="hover:underline">Advertising</a>
      <a href="" class="hover:underline">Investors</a>
      <a href="" class="hover:underline">Vendors</a>
    </div>
  </div>

  <div class="text-white">
    <h1 class="font-bold text-xl">Useful links</h1>
    <div class="flex flex-col">
      <a href="" class="hover:underline">Support</a>
      <a href="" class="hover:underline">Free Mobile App</a>
    </div>
  </div>
  <div class="text-white max-sm:my-5">
    <h1 class="font-bold text-xl">Spotify Plans</h1>
    <div class="flex flex-col">
      <a href="" class="hover:underline">Premium Individual</a>
      <a href="" class="hover:underline">Premium Duo</a>
      <a href="" class="hover:underline">Premium Family</a>
      <a href="" class="hover:underline">Premium Student</a>
      <a href="" class="hover:underline">Spotify Free</a>
    </div>
  </div>
</div>
